.stat {
  min-width: 98px;
  padding: var(--mantine-spacing-xl);
  min-height: 140px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  font-family: Outfit, var(--mantine-font-family);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  line-height: 1.2;
}

.value {
  font-size: 2.5rem;
  font-weight: 700;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  margin: 10px 0;
}

.count {
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  text-transform: uppercase;
}